*{
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
}
/* HEADER */
.divBusqueda{
    background-color: cornflowerblue;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    
}
.divElementosBusqueda{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem; 
}

.input_BotonBusqueda{
    display: flex;  
    justify-content: space-around;
    gap: 1vh;
}

.botonAgregarElemento{
    padding: 10px;
    border: none;
    border-radius: 0.7rem;
    align-items: center;
    display: flex;
    border: solid black 1px;
    transition: 0.2s;
}

.inputBuscar{
    padding: .4rem;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    outline: none;
    width: 20vw;
    height: 3vh;
}

.botonBuscar{
    color: white;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.4rem;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 10vw;
    height: 4.5vh;
    transition: 0.2s;
}

/* BOTONES HOOVER */
.botonBuscar:hover{
 cursor: pointer;
 background-color: rgb(157, 192, 224); ;
}
.botonAgregarElemento:hover{
 cursor: pointer;
 background-color: rgb(206, 216, 233) ;
}
 /*MAIN*/
 .containter_view{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
 }

 /* TIENDA */

 .tienda{
    max-height: 92vh;
    overflow-y: auto;
    background-color: coral;
    height: 92vh;
}

.sectionTienda img{
    width: 15vw;
    height: 25vh;
    border-radius: .4rem;
    box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.3);
   }

.sectionTienda{
    background-color: aliceblue;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.tituloSeccion{
    margin: 1rem;
    font-size: 3vh;
    border-bottom: 1px solid gray;
}

.productoTienda{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 0.6fr);
    gap: 1vh;
    padding: 1rem;
}

.targetItem{
    width: 20vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.4rem;
    box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.3);
    background-color: aliceblue;
    border-radius: .4rem;
    transition: 0.2s ease;
}

.targetItem:hover{
cursor: pointer;
transform: scale(1.05);
transition: 0.2s ease;
}


.targetItem h2{
    font-size: 2vh;
    text-align: center;
}

.targetProps{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


    
/* LISTAS DEL COSTADO */
.lista_aside{
   background-color: rgb(200, 224, 245);
   height: 92vh;
   display: flex;
   text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: medium;
    
}

.lista_aside ul li{
border-radius: 5px;
border: 1px solid black;
transition: 0.2s ease;
}
.lista_aside ul li:hover{
cursor: pointer;
background-color: rgb(48, 141, 223);
transition: 0.2s ease;
}

.lista_aside_h2{
    display: flex;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
}

.listaFiltro{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 2vh;
}
.listaFiltro:hover{
    cursor: pointer;
}

.listaSeleccionada {
    text-decoration: underline;
    color: white;
    border-radius: 4px;
    background-color: rgb(56, 82, 107);
    transition: 0.2s;
    height: 3vh;
    width: 16vw;
}

/* POPUP */

.PopUpContainerMain{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}

.PopUpContainer{
    width: 50vw;
    height: 50vh;
    background-color: aliceblue;
    box-shadow: 5px 2px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.PopUpContainer h2{
    text-align: center;
    padding: 15px;
}

.inputs_popups{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    
}
.inputs_popups select,
.inputs_popups input{
    width: 80%;
    border: solid gray 1px;
    padding: .4rem;
    border-radius: .4rem;
}

.divBotonesPopUp{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.botonPopUp{
    font-size: 2vh;
    background-color: lightgray;
    border: none;
    border-radius: .4rem;
    padding: .7rem;
    transition: 0.2s;
}

.Agregar:hover{
    cursor: pointer;
    background-color: green;
    transition: 0.2s;
}

.Cancelar:hover{
    cursor: pointer;
    background-color: rgb(184, 184, 59);
    transition: 0.2s;
}

.Eliminar:hover{
    cursor: pointer;
    background-color: rgb(184, 73, 73);
    transition: 0.2s;
}

.Agregar{
    background-color: rgb(118, 209, 118);
}

.Cancelar{
    background-color:rgb(245, 245, 68);
}

.Eliminar{
    background-color:lightcoral;
}

/* Media Querys */
@media screen and (max-width: 1280px) {
    .productoTienda{
        
        grid-template-columns: repeat(2, 0.6fr);
        
    }
    .targetItem{
        width: 25vw;
    }
    .sectionTienda img{
        width: 20vw;
        height: 25vh;
       }
}

/* scrollbr */

::-webkit-scrollbar{
    width: 0.7rem;
    background-color: white;
    border-radius: .4rem;
}

::-webkit-scrollbar-thumb{
    background-color: cornflowerblue;
    border-radius: .4rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(65, 123, 231);
    
}